# --- Những thứ BẮT BUỘC PHẢI CHẶN ---
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]serSettings/
/[MemoryCaptures]/

# --- Chặn các file rác của Visual Studio ---
*.csproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db

# --- Chặn file hệ thống ---
.DS_Store
Thumbs.db